@part/inc/header@
<div class="hero">
  hero 내용입 
  param:{{param}}
  params.[0]:{{params.[0]}}
  params.0:{{param}}
  params[0]:
  @entity.Tables.[0]:{{ entity.Tables.[0] }}@
{{#each params}}
    {{this}} sss
{{/each}}
</div>

inc 하단에 내용
{{> inc/content }}