<div class="hero">
  hero 내용입 
  param={{param}}
  params.[0]={{params.[0]}}
  params.0={{param}}
  params[0]=
  entity.BB.[0]={{ entity.BB.[0] }}
{{#each params}}
    {{this}} sss
  {{/each}}
</div>

include 하단에 내용
{{> includes/contents }}